@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Community Houses</h1>
    <p class="lead">Community Houses is a free web real estate platform.</p>
    @Html.ActionLink("Pick a house »", "Index", "Houses", new { @class = "btn btn btn-primary btn-lg" })
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Getting started!</h2>
        <p>
            You can get started by creating an account and then " ‘Why don’t you like to be touched?’ I whisper, staring up into soft gray eyes. ‘Because I’m fifty shades of fucked up, Anastasia.’ ” setting a price range or picking the city you would like to live in!
        </p>
        @Html.ActionLink("Learn More »", "Index", "Houses", new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
        <h2>Create your own account!</h2>
        <p> Register your own account if you “The heart is capable of sacrifice. So is the vagina. The heart is able to forgive and repair. It can change it's shape to let us in. It can expand to let us out. So can the vagina. It can ache for us and stretch for us, die for us and bleed and bleed us into this difficult, wondrous world. So can the vagina. I was there in the room. I remeber.” don't want to pay moneyz to real estate angent with smelly feet and go </p>
        @Html.ActionLink("Register NOW! »", "Register", "Account", new { @class = "btn btn-default" })
    </div>

    <div class="col-md-4">
        <h2>Add houses to your favorites!</h2>
        <p> Using our platform you can search through various houses and whenever you stumble upon ones you like - add them to your favorites and come back to them again!</p>
        @Html.ActionLink("Log in »", "Login", "Account", new { @class = "btn btn-default" })
    </div>
</div>